.bg-img {
  background-image: url(kolaz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: rgba(213, 190, 190, 0.764);
  height: 400px;
  border: 3px solid rgb(23, 52, 62);
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(102, 106, 107);
  margin: 0 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container:nth-of-type(1) {
  margin: 60px 10px 30px;
}

.container:nth-of-type(2) {
  flex-direction: column;
  gap: 10px;
  margin: 0 5px 70px;
}

.img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px white;
}

.input-amount {
  height: 35px;
  width: 90%;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(151, 80, 54);
  margin-right: 5px;
}

.select-currency {
  height: 35px;
  width: 90%;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(151, 80, 54);
  margin-right: 5px;
}

.btn-count {
  height: 35px;
  width: 90%;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border: 2px solid rgb(151, 80, 54);
  background-color: white;
  margin-right: 5px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #f3f3f3;
  border-top: 4px solid rgb(151, 80, 54);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.output-value {
  height: 35px;
  width: 90%;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px white;
  font-weight: bold;
  font-size: 12px;
  border-bottom: 2px solid rgb(151, 80, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ftr {
  font-size: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px rgb(255, 255, 255);
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: 360px) {
  .box {
    height: 500px;
  }

  .container:nth-of-type(1) {
    margin: 70px 20px 30px;
  }

  .container:nth-of-type(2) {
    margin: 0 10px 90px;
  }

  .img {
    height: 65px;
    width: 65px;
    margin-right: 15px;
  }

  .title {
    font-size: 19px;
  }

  .input-amount {
    height: 45px;
    font-size: 13px;
  }

  .select-currency {
    height: 45px;
    font-size: 13px;
  }

  .btn-count {
    height: 45px;
    font-size: 13px;
  }

  .loader {
    width: 20px;
    height: 20px;
  }

  .output-value {
    height: 45px;
    font-size: 14px;
  }

  .ftr {
    font-size: 12px;
  }
}

@media screen and (min-width: 540px) {
  .box {
    min-width: 450px;
  }
  .container:nth-of-type(1) {
    margin: 80px 20px 30px;
  }

  .container:nth-of-type(2) {
    margin: 0 5px 70px;
  }

  .img {
    height: 80px;
    width: 80px;
  }

  .title {
    font-size: 22px;
  }

  .input-amount {
    width: 75%;
    font-size: 15px;
  }

  .select-currency {
    width: 75%;
    font-size: 15px;
  }

  .btn-count {
    width: 75%;
    font-size: 15px;
  }

  .loader {
    width: 22px;
    height: 22px;
  }

  .output-value {
    width: 75%;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .box {
    min-width: 650px;
  }

  .container:nth-of-type(1) {
    margin: 70px 20px 60px;
  }

  .container:nth-of-type(2) {
    flex-direction: row;
    margin: 0 5px 175px;
  }

  .img {
    height: 100px;
    width: 100px;
  }

  .title {
    font-size: 30px;
  }

  .input-amount {
    height: 60px;
    width: 170px;
    font-size: 20px;
    border: 3px solid rgb(151, 80, 54);
  }

  .select-currency {
    height: 60px;
    width: 90px;
    font-size: 20px;
    border: 3px solid rgb(151, 80, 54);
  }

  .btn-count {
    height: 60px;
    width: 100px;
    font-size: 20px;
    border: 3px solid rgb(151, 80, 54);
  }

  .output-value {
    height: 60px;
    width: 170px;
    font-size: 22px;
    border-bottom: 3px solid rgb(151, 80, 54);
  }

  .ftr {
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .box {
    min-width: 800px;
  }

  .container:nth-of-type(1) {
    margin: 60px 20px;
  }

  .container:nth-of-type(2) {
    margin: 0 5px 145px;
  }

  .img {
    height: 130px;
    width: 130px;
  }

  .title {
    font-size: 36px;
  }

  .input-amount {
    width: 210px;
    font-size: 26px;
  }

  .select-currency {
    width: 120px;
    font-size: 26px;
  }

  .btn-count {
    width: 140px;
    font-size: 26px;
  }

  .output-value {
    width: 230px;
    font-size: 28px;
  }

  .ftr {
    font-size: 18px;
  }
}
